CalculatorApp/src/conf/xml-resources/web-service-references/CallbackService/wsdl/localhost_8080/CalculatorApp/CallbackService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice.calculator.rsi2.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.calculator.rsi2.org/">

<xs:element name="callback" type="tns:callback"/>

<xs:element name="callbackResponse" type="tns:callbackResponse"/>

<xs:complexType name="callbackResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="callback">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>