CalculatorApp/web/WEB-INF/wsit-org.rsi2.calculator.webservice.CalculatorWS.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CalculatorService" targetNamespace="http://webservice.calculator.rsi2.org/" xmlns:tns="http://webservice.calculator.rsi2.org/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" 
 >
    <message name="dodaj"/>
    <message name="dodajResponse"/>
    <message name="odejmij"/>
    <message name="odejmijResponse"/>
    <message name="pomnoz"/>
    <message name="pomnozResponse"/>
    <message name="podziel"/>
    <message name="podzielResponse"/>
    <portType name="CalculatorWS">
        <operation name="dodaj">
            <input message="tns:dodaj"/>
            <output message="tns:dodajResponse"/>
        </operation>
        <operation name="odejmij">
            <input message="tns:odejmij"/>
            <output message="tns:odejmijResponse"/>
        </operation>
        <operation name="pomnoz">
            <input message="tns:pomnoz"/>
            <output message="tns:pomnozResponse"/>
        </operation>
        <operation name="podziel">
            <input message="tns:podziel"/>
            <output message="tns:podzielResponse"/>
        </operation>
    </portType>
    <binding name="CalculatorWSPortBinding" type="tns:CalculatorWS">
        <operation name="dodaj">
            <input></input>
            <output></output>
        </operation>
        <operation name="odejmij">
            <input></input>
            <output></output>
        </operation>
        <operation name="pomnoz">
            <input></input>
            <output></output>
        </operation>
        <operation name="podziel">
            <input></input>
            <output></output>
        </operation>
    </binding>
    <service name="CalculatorService">
        <port name="CalculatorWSPort" binding="tns:CalculatorWSPortBinding"/>
    </service>
</definitions>
